/*:::::::::::::::::::::::::::::::::::::::::::::::: Cast List ::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::: Hide Cast List :::*/
div[class^="PrePlayCastList-castList-"],
div[class*="3dQB5"] {
  display: none !important;
}

/*::: Hover effect on CAST cards :::*/
a[class^="PrePlayCastCell-cardLink-"]:hover,
a[class^="PrePlayCastCell-cardLink-"]:hover > div,
a[class*="Tndv5"]:hover,
a[class*="Tndv5"]:hover > div {
  transform: scale(1.07);
}

/*:::::::::::::::::::::::::::::::::::::::::::::::: Movie Extras ::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::: Hide Movie Extras (dunno if there are tv extras or not as I could never get extras for tv shows to show up) :::*/
div[class^="PrePlayExtrasList-extrasHubCell-"],
div[class*="2NcGK"] {
  display: none !important;
}

/*::: Expand 'Extras' display for movies (shows as grid instead of scroller) :::*/
[class^="PrePlayExtrasList-extrasHubCell-"] > div:nth-child(2),
[class^="PrePlayExtrasList-extrasHubCell-"] > div:nth-child(2) > [class^="Measure-container-"] > div > div,
[class*="2NcGK"] > div:nth-child(2),
[class*="2NcGK"] > div:nth-child(2) > [class*="2XznZ"] > div > div {
  width: auto !important;
  height: auto !important;
}

[class^="PrePlayExtrasList-extrasHubCell-"] > div:nth-child(2) > [class^="Measure-container-"] > div > div > div,
[class*="2NcGK"] > div:nth-child(2) > [class*="2XznZ"] > div > div > div {
  display: inline-block;

  position: relative !important;

  margin: 10px;

  transform: translate3d(10px, 10px, 0) !important;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::: Related Lists ::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::: Hide Related List i.e Related movies|shows|Genres|People :::*/
div[class^="PrePlayRelatedList-relatedList-"],
div[class*="2fY8S"] {
  display: none !important;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::: Posters ::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::: Posters Hover Effects :::*/ /*::: Credits to @IanCeling :::*/

/* Poster Shadow */
div[class^="MetadataPosterCard-cardContainer-"],
div[class*="2gRcQ"] {
  box-shadow: 0 6px 26px -2px #000;

  transition: all 350ms;

  -webkit-perspective: 500px;
  perspective: 500px;
}

/* Poster Hover */
div[class^="MetadataPosterCard-cardContainer-"]:hover,
div[class*="2gRcQ"]:hover {
  box-shadow: 0 0 0 0 #000;

  transform: scale(.95) translateY(0);
}

/* Continue Watching poster hover */
div[data-qa-id="hub--home.continue"] div[class^="MetadataPosterCard-cardContainer-"]:hover,
div[data-qa-id="hub--home.continue"] div[class*="2gRcQ"]:hover {
  transform: scale(.97) translateY(-5px);
}

/*::: Photo Card Hover :::*/
[class^="MetadataPhotoCell-photoContainer-"],
[class*="1HkmQ"] {
  transition: all 350ms;

  -webkit-perspective: 500px;
  perspective: 500px;
}

[class^="MetadataPhotoCell-photoContainer-"]:hover,
[class*="1HkmQ"] {
  transform: scale(.95) translateY(0);
}

[class^="MetadataPhotoCell-photo-"]:hover,
[class*="Po3Kx"]:hover {
  box-shadow: none;

  transform: scale(1.02);
}

/*::: Poster Play Button :::*/
div[class^="MetadataPosterCardOverlay-playCircle-"],
div[class*="M67q6"] {
  border-radius: 50%;
  width: 50px;
  height: 50px;

  font-size: 18px;
  line-height: 48px;

  color: hsla(0, 0%, 100%, .7);

  box-shadow: 0 4px 16px -2px #000;

  transition: all 350ms;
  transform: translate(-50%, -50%) scale(.1);
}

div[class^="MetadataPosterCard-cardContainer-"]:hover div[class^="MetadataPosterCardOverlay-playCircle-"],
div[class*="2gRcQ"]:hover div[class*="M67q6"] {
  transform: translate(-50%, -50%) scale(1.2);
}

div[class^="MetadataPosterCard-cardContainer-"]:hover [class^=plex-icon-play-],
div[class*="2gRcQ"]:hover [class^=plex-icon-play-] {
  font-size: 30px;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::: Side Bar ::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::: kill container margin and add transition speed :::*/
/*::: Contract the sidebar to save screen space [Expands back out on hovering over the sidebar] :::*/
.page-container {
  margin-left: 0 !important;
}

div[role=navigation] div a {
  overflow: visible;
}

div[role=navigation] div {
  padding-right: 0;
}

[class^=SidebarContainer-sidebarContainer-] {
  width: 55px !important;
  max-width: 55px !important;

  transition: all .5s ease !important;
}

[class^=SidebarContainer-sidebarContainer-]:hover {
  width: 240px !important;
  max-width: 240px !important;

  transition: all 1.5s ease !important;
}

[class^=SidebarLink-title],
[class^=SidebarList-sidebarListHeader],
[class^=SidebarServerLibraries-librariesTitle],
button[data-qa-id=serverMenuButton] div span,
div[role=navigation] div a div:nth-child(2),
div[role=navigation] div[role=header] {
  font-size: 0 !important;
}

[class^=SidebarContainer-sidebarContainer-]:hover [class^=SidebarLink-title],
[class^=SidebarContainer-sidebarContainer-]:hover [class^=SidebarList-sidebarListHeader],
[class^=SidebarContainer-sidebarContainer-]:hover [class^=SidebarServerLibraries-librariesTitle],
[class^=SidebarContainer-sidebarContainer-]:hover div[role=navigation] div a div:nth-child(2),
[class^=SidebarContainer-sidebarContainer-]:hover div[role=navigation] div[role=header] {
  font-size: 12px !important;

  transition: all 2s ease !important;
}

[class^=SidebarContainer-sidebarContainer-]:hover button[data-qa-id=serverMenuButton] div span {
  font-size: 14px !important;

  transition: all 2s ease !important;
}

[class^=DisclosureArrow-disclosureArrow-],
[class^=SidebarLibrariesActions-actions],
[class^=SidebarLink-children] {
  display: none !important;
}

[class^=SidebarContainer-sidebarContainer-]:hover [class^=DisclosureArrow-disclosureArrow],
[class^=SidebarContainer-sidebarContainer-]:hover [class^=SidebarLibrariesActions-actions],
[class^=SidebarContainer-sidebarContainer-]:hover [class^=SidebarLink-children] {
  display: inline-block !important;

  transition: all 2s ease !important;
}

[class^=SidebarLibraryItem-action] {
  width: 0 !important;
}
