@-moz-document regexp("https?:\/\/(app.plex.tv)\/.*"),
regexp("https?:\/\/.*:/*[[PORT]]*/\/.*"),
regexp("https?:\/\//*[[URL]]*/") {
/* ++----------------------------------------------------------------------------------++ */
/* ||                                                                                  || */
/* ||* Name        : Plex Fixes                                                        || */
/* ||                                                                                  || */
/* ||* Author      : JourneyOver                                                       || */
/* ||                                                                                  || */
/* ||* Created     : 03 / 10 / 2017                                                    || */
/* ||                                                                                  || */
/* ||* Updated     : 03 / 29 / 2018                                                    || */
/* ||                                                                                  || */
/* ||* Version     : 1.0.2                                                             || */
/* ||                                                                                  || */
/* ||* Copyright   : 2017-2018                                                         || */
/* ||                                                                                  || */
/* ++----------------------------------------------------------------------------------++ */
}

@-moz-document regexp("https?:\/\/(app.plex.tv)\/.*"),
regexp("https?:\/\/.*:/*[[PORT]]*/\/.*"),
regexp("https?:\/\//*[[URL]]*/") {
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::: Pre 3.0.0 Fixes :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

a {
  user-select: all !important;
}

/*::: Main Background Image :::*/
.background-container [data-reactroot] div > div[style] {
  background: rgba(31, 31, 31, 1);
  background-image: url("/*[[IMGURL]]*/") !important;
  background-position: center center;
  background-size: 100% 100% !important;

  image-rendering: auto;
}

/*::: Image Container :::*/
div[class^="PrePlayArtwork-imageContainer-"],
div[class*="3dXG6"] {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: -1 !important;

  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;

  background: #1f1f1f !important;

  -webkit-animation: plexbgfadein .6s ease-in;
}

/*::: Image :::*/
div[class^="PrePlayArtwork-imageContainer-"] > div,
div[class*="3dXG6"] > div {
  position: fixed !important;

  width: 100% !important;
  height: 100% !important;

  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;

  opacity: .25 !important;
}

/*::: Resizing adds extra divs :::*/
div[class^="PrePlayArtwork-imageContainer-"] > div + div,
div[class*="3dXG6"] > div + div {
  display: none !important;
}

/*::: Item Thumbnail :::*/
div[class^="PrePlayArtwork-imageContainer-"] + div,
div[class*="3dXG6"] + div {
  position: fixed !important;
  top: 180px !important;

  background-position: center !important;
}

/*::: Background Fade-in :::*/
@-webkit-keyframes plexbgfadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::: NEW ADDITIONS :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::: Max Width Of Summary Container :::*/
div[class^="PrePlaySummary-summary-"],
div[class*="1NL8g"] {
  margin-bottom: 5px;
  max-width: none !important;

  font-size: 15px;
}

/*::: Make Sure Overflow Of Summary Container is always visible :::*/
div[class^="PrePlaySummary-summary-"] > div,
div[class*="1NL8g"] > div {
  overflow: visible !important;

  max-height: none !important;
}

/*::: Hide Read More Button Since It's Useless Now :::*/
[class^="CollapsibleText-readMore-"],
[class*="1bRJm"] {
  display: none !important;
}

/*::: Hide The Go Premium Button :::*/
.plex-pass-label {
  display: none !important;
}

/*::: Plex Fixes Version :::*/
[class="version-title"]::after {
  white-space: pre;

  content: "\A Plex Fixes Ver. 1.0.2";
}

/*::: Make Users pic square :::*/
[class^="dropdown-poster-"] > div,
[class^="card-poster"],
[class^="AvatarImg-avatar-"],
[class*="3Op56"] {
  border-radius: 0;
}

/*::: Move dashboard down slightly :::*/
[class^="DashboardPage-dashboardPageContent-"],
[class*="2rN8X"] {
  padding: 15px 55px 60px !important;
}

/*::: make continue watching title containers a bit smaller :::*/
div[class*="MetadataPosterCell-continueWatchingTitleContainer-"],
div[class*="3yCAY"] {
  padding: 4px 5px !important;

  background-color: rgba(0, 0, 0, .35);
}

/*::: shorten the padding on headers on dashboard to bring inline with being closer to continue watching title container :::*/
div[class*="HubCellHeader-hubCellHeader-"],
div[class*="2pvYN"] {
  padding: 4px 0 0 5px !important;
}

/*::: Make cast pictures square :::*/
a[class^="PrePlayCastCell-cardLink-"],
div[class^="TagPosterCard-card-"],
a[class*="Tndv5"],
div[class*="RVD0D"] {
  border-radius: 0 !important;
}

/*::: lower actors faces a bit :::*/
div[class^="TagPosterCard-card-"] [class^="PosterCardImg-imageContainer-"] > div,
div[class*="RVD0D"] [class*="1Ar4M"] > div {
  background-position: 100% 30% !important;
}

/*::: make the controls for video player a bit transparent :::*/
div[class^="AudioVideoFullPlayer-bottomBar-"],
div[class^="AudioVideoStripeContainer-container-"],
div[class^="MenuContainer-menu-"],
div[class*="2yixi"],
div[class*="MI02O"],
div[class*="3Gtlw"] {
  background-color: rgba(35, 36, 38, .5) !important;
}

/*::: Make background of play queue/play next normal :::*/
div[class^="FullPlayerTopControls-topControls-"],
div[class^="AudioVideoPlayQueue-container-"],
div[class^="AudioVideoPostPlay-container-"],
div[class^="FullPlayerBackground-backgroundContainer-"] > div > div > div,
div[class*="2gkcE"],
div[class*="mD38o"],
div[class*="1G36_"],
div[class*="2UnXo"] > div > div > div {
  background: rgba(31, 31, 31, 1) !important;
}

/*::: Pulsate Status :::*/ /*::: Credits to @IanCeling :::*/
.nav-bar li.active i {
  opacity: .1;

  -webkit-animation: pulsate 5s ease-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 1;

    -webkit-transform: scale(1.7, 1);
  }
  50% {
    opacity: .3;

    -webkit-transform: scale(.85, .85);
  }
  100% {
    opacity: 1;

    -webkit-transform: scale(1.7, 1);
  }
}

/*[[CastL]]*/

/*[[ExtrasM]]*/

/*[[RelatedL]]*/

/*[[PosterHE]]*/

/*[[CompactSB]]*/
}
