// make continue watching title containers a bit smaller
[class^="MetadataPosterCell-continueWatchingTitleContainer-"],
[class*="3yCAY"] {
  border-radius: 4px !important;
  padding: 2px 5px !important;
  background-color: rgba(0, 0, 0, .3);
}
