// Navbar height
[class*="NavBar-container-"],
[class*="1T0BJ"] {
  height: 40px;
}

// Move navbar Activity Button number
[class*="NavBarActivityButton-label-"],
[class*="2ZN0g"] {
  top: 10px;
}

// Resize navbar search box
[class*="QuickSearchInput-container-"],
[class*="QuickSearch-container-"],
[class*="1HiCo"],
[class*="2PWkB"] {
  height: 30px;
}

// Pulsate Status
[class*="NavBarActivityButton-isActive-"] {
  [class*="NavBarActivityButton-activityIcon-"] {
    opacity: 0.1;
    -webkit-animation: pulsate 5s ease-out;
    -webkit-animation-iteration-count: infinite;
  }
}

@-webkit-keyframes "pulsate" {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.3, 1.3);
  }
  50% {
    opacity: 0.3;
    -webkit-transform: scale(.85, .85);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.3, 1.3);
  }
}
