// Make Sure Overflow Of Summary Container is always visible
[class^="PrePlaySummary-summary-"],
[class*="320PK"] {
  > div {
    overflow: visible !important;
    max-height: none !important;
  }
}

// Hide Read More Button Since It's Useless Now
[class^="CollapsibleText-readMore-"],
[class*="1FIz2"] {
  display: none !important;
}
