// Max Width Of Summary Container
div[class^="PrePlaySummary-summary-"],
div[class*="1NL8g"] {
  margin-bottom: 5px;
  max-width: none !important;
  font-size: 15px;
}

// Make Sure Overflow Of Summary Container is always visible
div[class^="PrePlaySummary-summary-"],
div[class*="1NL8g"] {
  > div {
    overflow: visible !important;
    max-height: none !important;
  }
}

// Hide Read More Button Since It's Useless Now
[class^="CollapsibleText-readMore-"],
[class*="1bRJm"] {
  display: none !important;
}
