/* expand-movie-extras */
/*::: Expand 'Extras' display for movies (shows as grid instead of scroller) :::*/
[class^="PrePlayExtrasList-extrasHubCell-"] > div:nth-child(2),
[class^="PrePlayExtrasList-extrasHubCell-"] > div:nth-child(2) > [class^="Measure-container-"] > div > div,
[class*="2NcGK"] > div:nth-child(2),
[class*="2NcGK"] > div:nth-child(2) > [class*="2XznZ"] > div > div {
  width: auto !important;
  height: auto !important;
}

[class^="PrePlayExtrasList-extrasHubCell-"] > div:nth-child(2) > [class^="Measure-container-"] > div > div > div,
[class*="2NcGK"] > div:nth-child(2) > [class*="2XznZ"] > div > div > div {
  display: inline-block;
  position: relative !important;
  margin: 10px;
  transform: translate3d(10px, 10px, 0) !important;
}
