/* hover-posters */
/*::: Posters Hover Effects :::*/
/*::: Credits to @IanCeling :::*/

/* Poster Shadow */
div[class^="MetadataPosterCard-cardContainer-"],
div[class*="2gRcQ"] {
  box-shadow: 0 6px 26px -2px #000;
  transition: all 350ms;
  -webkit-perspective: 500px;
  perspective: 500px;
}

/* Poster Hover */
div[class^="MetadataPosterCard-cardContainer-"]:hover,
div[class*="2gRcQ"]:hover {
  box-shadow: 0 0 0 0 #000;
  transform: scale(.95) translateY(0);
}

/* Continue Watching poster hover */
div[data-qa-id="hub--home.continue"] div[class^="MetadataPosterCard-cardContainer-"]:hover,
div[data-qa-id="hub--home.continue"] div[class*="2gRcQ"]:hover {
  transform: scale(.97) translateY(-5px);
  -webkit-transform: scale(.97) translateY(-5px);
  -moz-transform: scale(.97) translateY(-5px);
  -ms-transform: scale(.97) translateY(-5px);
  -o-transform: scale(.97) translateY(-5px);
}

/*::: Photo Card Hover :::*/
[class^="MetadataPhotoCell-photoContainer-"],
[class*="1HkmQ"] {
  transition: all 350ms;
  -webkit-perspective: 500px;
  perspective: 500px;
}

[class^="MetadataPhotoCell-photoContainer-"]:hover,
[class*="1HkmQ"] {
  transform: scale(.95) translateY(0);
}

[class^="MetadataPhotoCell-photo-"]:hover,
[class*="Po3Kx"]:hover {
  box-shadow: none;
  transform: scale(1.02);
}

/*::: Poster Play Button :::*/
div[class^="MetadataPosterCardOverlay-playCircle-"],
div[class*="M67q6"] {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 48px;
  color: hsla(0, 0%, 100%, .7);
  box-shadow: 0 4px 16px -2px #000;
  transition: all 350ms;
  transform: translate(-50%, -50%) scale(.1);
}

div[class^="MetadataPosterCard-cardContainer-"]:hover div[class^="MetadataPosterCardOverlay-playCircle-"],
div[class*="2gRcQ"]:hover div[class*="M67q6"] {
  transform: translate(-50%, -50%) scale(1.2);
}

div[class^="MetadataPosterCard-cardContainer-"]:hover [class^=plex-icon-play-],
div[class*="2gRcQ"]:hover [class^=plex-icon-play-] {
  font-size: 30px;
}
